* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

li {

    float: left;
}

nav a {
    width: 120px;
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #F9A828;
    padding: 3.1dvh 10%;

    height: 30%;

}

text {
    font-family: arial;
    font-size: 20dvh;

}

nav a:hover {
    background: #E73E51;
    color: black;
    box-shadow: 0 8px 16px 0 #E73E51;

}

header {

    position: fixed;
    top: 0;
    width: 100dvw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search {

    margin-top: 30px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-radius: 14px;
    border: none;
    background-color: #F9A870;
    box-shadow: 0 5px 8px 3px black;
}



.search-icon input {
    width: 30px;
    height: 30px;
    margin-top: 5px;

}

.search {
    padding: -50;
}

.search input:hover {
    box-shadow: 0 8px 16px 0 #E73E51;
}

.search-input input {

    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px 40px 8px 20px;
    border: none;
    background-color: #F9A828;
    box-shadow: 0 5px 8px 0 black;

}

.search-icon img {
    width: 30%;
    height: 30%;
}



.profile_pictures img {
    width: 30%;
    height: auto;
    margin: 5%;

    border-radius: 50%;

}

.profile_pictures img:hover {

    box-shadow: 0 8px 16px 0#E73E51;
}





.profile_pictures img {
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.468);
    min-width: 160px;
    box-shadow: 0 8px 16px 0#E73E51;
}


.dropdown-content a {
    color: #F9A828;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #E73E51;
}


.dropdown-content.show {
    display: block;
}























.main-cards-mkt {
    background-color: #000000;
}





#id-text {
    margin-top: 10%;
    color: #E73E51;
    text-align: center;
}

.main-cards-mkt img {
    width: 400px;
}

.best-ofmon {

    border-radius: 29px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: start;


}

.card-mkt {
    background-image: linear-gradient(to left bottom, #203543, #242734, #201b23, #171013, #020101);
    margin-top: 10%;
    padding-top: 5%;
    border-radius: 0px 0 30px 30px;
    margin: 20px;
}

.card-mkt img {

    border-radius: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;

}

.creator-info img {

    width: 10%;
    height: auto;
    border-radius: 50%
}

.creator-info p {
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-size: larger;
    padding-left: 20px;
    margin-top: 0;


}










/* artist card */

.best-artist {
    display: flex;
    justify-content: center;
}

.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 10px;
    background-image: linear-gradient(to left bottom, #203543, #242734, #201b23, #171013, #020101);
    text-align: center;

}

.artist-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-decoration: none;

}

.artist-card a {
    display: flex;
    justify-content: center;
}

.artist-card a img {
    margin: 10px;
    max-width: 50%;
    display: block;
    border-radius: 50%;

}


/* ---------- */




/*Recommeded art */
.recommended-art {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000;
    flex-wrap: wrap;
    padding: 10%;
    padding-top: 0;
}

.art-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin: 5px;


}

#mini-image {
    width: 40px;
    height: 40px;
}

.card-mkt img:hover {

    box-shadow: 0 8px 16px 0#E73E51;
}

.best-artist img:hover {

    box-shadow: 0 8px 16px 0#E73E51;
}

.art-card img:hover {

    box-shadow: 0 8px 16px 0#E73E51;
}


/*----------------*/

















html {


    background: rgb(249, 168, 40);
    background: linear-gradient(0deg, rgba(249, 168, 40, 1) 0%, rgba(0, 0, 0, 1) 100%);
}








@media only screen and (max-width: 600px) {
    nav ul li a {

        width: 100px;
        font-size: 14px;

    }
}


@media only screen and (max-width: 600px) {
    .profile_pictures {
        display: flex;
        justify-content: end;
        max-width: 70%
    }
}


::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;

}

::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar-thumb {
    background: #203543;

    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
    background: #F9A828;
    ;

}